@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width:100vw;
    background-color: black;
}
body {
    background-image: radial-gradient(circle, #e5e5e5, #cacbca, #b1b1b1, #979797, #7f7f7f, #707070, #616161, #535353, #494949, #404040, #373737, #2e2e2e);
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;

}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 227px;
    height: 458px;
    background: url(../imagens/Iphone.png) no-repeat;
    box-shadow: rgb(0, 0, 0) 0px 25px 20px -20px;
    border-radius: 40px;
}

iframe#tela{    
    position: relative;
    top: 10px;
    left: 12px;
    
    width: 203px;
    height: 438px;
    border-radius: 25px;
    
    
}

section#sociais {
    text-align: right;
}

section#sociais img {
    margin: 7px 20px;
    width: 50px;
    border-radius: 50%;

}